if LOG

menu "Event options"

comment "Initially logged events"

config MESH_CTL_INIT_LOG_BLE_PEER_EVENT
	bool "BLE peer event"
	default y

config MESH_CTL_INIT_LOG_MODULE_STATE_EVENT
	bool "Module state event"
	default y

endmenu

endif
